<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="public/main.css">        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.min.js"></script>
        
</head>
    <body>

            <nav class="navbar navbar-expand-lg navbar-dark" style="background:teal">
                    <a class="navbar-brand" href="#">BogengClub</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <% if(logged){ %>
                        <li class="nav-item">
                          <a class="nav-link" href="/">Login</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/register">Register</a>
                        </li>
                        <% }else{ %>
                         <li class="nav-item">
                        <a class="nav-link" href="/beranda">Beranda</a>
                        </li>

                       <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link" href="/keluar">Keluar</a>
                        </li>
                                  <% } %>


                      </ul>
                     
                    </div>
                  </nav>
        