<div class="container" style="margin-top:20px;">
        <div class="jumbotron" style="background:teal">

            <h2><center style="color:white"><%= title %></center></h2>

        </div>
    </div>