<%- include('partials/header') %>
<div class="container" style="margin-top:15px">
<div class="row">

  <% for(i=0;i<a.length;i++){ 
   for(j=0;j<a[i].statuses.length;j++){ %>
    <div class="col-md-12" style="margin-top:10px">
    <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= a[i].nama %></h4>
      <p class="card-text"><%= a[i].statuses[j].isi %></p>
      
    </div>
  </div>
</div>
<% } } %>


</div>
</div>



<%- include('partials/footer') %>