<%- include('partials/header') %>
<%- include('partials/jumbotron') %>

<div class="container">
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= id %>">
        <input type="file" name="img">
        <input type="submit" class="btn btn-primary">
     </form>

</div>


<%- include('partials/footer') %>