<%- include('partials/header') %>
<%- include('partials/jumbotron') %>
<div class="container">
<form method="post">
    
    <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" name="pass" id="exampleInputPassword1" placeholder="Password">
              </div>
            
 <button type="submit" class="btn btn-primary">Login</button>
</form>

<p>Jika Anda Belum Mepunyai Akun Silahkan <a href="/register" class="btn btn-danger">Daftar</a></p>
</div>
<script>
    <% if(err){ %>
        swal('Maaf', 'Email Yang Anda Masukan Tidak Terdaftar', 'error');
    <% }else if(pass){ %> 
      swal('Maaf', 'Password Yang anda Masukan salah', 'error');                        
       <% } %>
    </script> 
<%- include('partials/footer') %>