<%- include('partials/header') %>
<%- include('partials/jumbotron') %>
<div class="fluid-container">
<div class="row">

    <div class="col-md-4">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="<%= users.gambar %>">
        <div class="card-body">
          <h4 class="card-title"><%= users.nama %></h4>
          <p class="card-text"><%= users.username %></p>
          <a href="/edit" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <div style="margin-bottom:10px">
        <input type="hidden" id="id" value="<%= users.id %>">
        <div class="form-group">
            <label for="comment">Update Status:</label>
            <textarea class="form-control" rows="5" id="update"></textarea>
      </div>
      
          <button id="tombol" class="btn btn-success">Kirim</button>        
    </div>
      
        <div id="hilang" class="hilang">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
 
        <% status.statuses.forEach(function(data){ %>
        <div class="card" style="margin-top:10px">
            <div class="card-body">
              <h4 class="card-title"><%= status.nama %></h4>
              <p class="card-text"><%= data.isi %></p>
            </div>
          </div>
          <% }); %>

    </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('#tombol').on('click', function(){
        var isi = $('#update').val().trim();

        if(isi!=''){
          
          $('#hilang').removeAttr('class');
          $('#update').attr('disabled', 'disabled');

          $.ajax({
            method: "POST",
            url: "/profile",
            data: { id: $('#id').val().trim(), isi: isi }
          })
            .done(function( msg ) {
              swal('berhasil', msg, 'success');
            }); 

            $('#hilang').attr('class', 'hilang');
            $('#update').removeAttr('disabled').val('');

        }else{
          swal('MAAF', 'Isi Pesan Tidak Boleh kosong', 'error');
          
        }
    });
  });
</script>

<%- include('partials/footer') %>