<%- include('partials/header') %>
<div class="container">
        <form method="post">

     <div class="form-group">
    <label for="exampleInputEmail1">Nama :</label>
    <input type="text" class="form-control" name="nama"  aria-describedby="Nama" placeholder="Enter nama">
    </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Username :</label>
    <input type="text" class="form-control" name="username"  aria-describedby="username" placeholder="Enter username">
    </div>
            
     <div class="form-group">
     <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
        
    <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="passsword" id="password" placeholder="Password">
    </div>

    <input type="hidden" value="sample.jpg" name="gambar">
                    
         <button type="submit" class="btn btn-primary">Register</button>
        </form>
        

<p>Jika Anda Belum Mepunyai Akun Silahkan <a href="/" class="btn btn-danger">Login</a></p>
</div>


<script>
                <% if(err){ %>
                    swal('Maaf', 'Email Yang Anda Gunakan Sudah ada yang pake', 'error');
                <% } %>
 </script> 
<%- include('partials/footer') %>